<% session["room_id"] = @room_id %>
<h1>配信画面</h1>

<hr class="line">
<div class="row">
  <div class="video-frame" data-room-id="<%= @room_id %>">
    <video id="localVideo" playsinline autoplay muted></video>
  </div>
  <div class="comment-wrapper">
    <div class="comment-title">コメント</div>
    <ul id="comment-list"></ul>
  </div>
</div>
<hr class="line">

<%= button_tag "配信を終了する", class: "end-stream-button button", type: "button", onclick: "closeTab()" %>

<%= content_for :script do %>
  <%= javascript_import_module_tag "webrtc/stream" %>
  <script>
      function closeTab() {
          if (confirm("配信を終了しますか？")) {
              window.close();
          }
      }
  </script>
<% end %>