<div id="<%= dom_id post %>" class="card post">
  <%= image_tag "user_icon.png" %>
  <div class="content">
    <div class="usernames">
      <span>HogeHoge</span>
      <span>@username</span>
    </div>
    <p>Apex@2人 募集しています！誰か一緒にやりましょう</p>
  </div>
</div>
