<div id="<%= dom_id post %>" class="card post">
  <%= image_tag "user_icon.png" %>
  <div class="content">
    <div class="usernames">
      <span>HogeHoge</span>
      <span>@username</span>
    </div>
    <p>Apex@2人 募集しています！誰か一緒にやりましょう</p>
  </div>

  <%#= image_tag "user_icon.png" %>
  <!--  <div class="content">-->
  <!--    <div class="usernames">-->
  <!--      <span>foo</span>-->
  <!--      <span>@foo</span>-->
  <!--    </div>-->
  <!--    <p>今の置きエイムすごくうまい<span class="to-comment">bootstrapさんへの配信コメント</span></p>-->
  <!--    <div class="post-stream-wrapper">-->
  <!--      <div class="stream-img">-->
  <%#= image_tag "valorant_title.jpg" %>
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <%#= image_tag "user_icon.png" %>
  <!--  <div class="content">-->
  <!--    <div class="usernames">-->
  <!--      <span>ice_protocol</span>-->
  <!--      <span>@ice_protocol</span>-->
  <!--    </div>-->
  <!--    <p>Apexランクやります</p>-->
  <!--    <div class="post-stream-wrapper">-->
  <!--      <div class="stream-img">-->
  <%#= image_tag "apex_title.jpg" %>
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="post-stream-start">ice_protocolさんが配信を開始しました！</div>-->
  <!--  </div>-->
</div>
