<%= link_to stream, class: "a", data: { turbo: false, turbo_method: :get, turbo_confirm: "配信を視聴しますか？" } do %>
  <div class="stream-img">
    <%= image_tag url_for(stream.thumbnail) %>
  </div>
<% end %>