<p style="color: green"><%= notice %></p>

<div class="logo">NextPlay</div>

<div class="posts-container">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
