<p style="color: green"><%= notice %></p>

<div class="logo">NextPlay</div>

<div class="container">
  <div class="posts-container">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  </div>
  <div class="sidebar-container">
    <%= link_to "投稿する", new_post_path, class: "new-post-button" %>
  </div>
</div>

