/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');

body {
    font-family: "DotGothic16", sans-serif;
    background-color: #101017;
    color: #fff;
    margin: 0 auto;
    padding: 56px;
    max-width: 1400px;
}

.logo {
    font-family: "Press Start 2P", sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 56px;
}

.container {
    display: flex;
}

.a {
    color: #fff;
    text-decoration: none;
}

.button {
    color: #fff;
    font-size: 18px;
    font-family: "DotGothic16", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.row {
    display: flex;
}


/* posts */

.posts-container {
    flex: 3;
}

.card {
    position: relative;
    background-color: #272738;
    border-radius: 8px;
}

.card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.post {
    display: flex;
    padding: 12px 16px;
    margin-bottom: 12px;
}

.post > * {
    z-index: 1;
}

.post img {
    width: 46px;
    height: 46px;
}

.content {
    display: inline;
    margin-left: 12px;
}

.usernames {
    padding-top: 8px;
}

.usernames span:nth-child(1) {
    margin-right: 8px;
}

.usernames span:nth-child(2) {
    color: #8B8B8B;
}

.post p {
    margin: 12px 0 16px;
}

.to-comment {
    color: #7CD0FF;
}

.to-comment:before {
    content: " - ";
    color: #7CD0FF;
}

.post-stream-wrapper {
    width: 280px;
    padding-bottom: 4px;
}

.post-stream-start {
    color: #7CD0FF;
    font-size: 14px;
    margin-bottom: 4px;
}


/* sidebar */

.sidebar-container {
    flex: 1;
    margin-left: 40px;
}

.new-post-button {
    display: inline-block;
    width: 100%;
    background-color: #546E7A;
    border-radius: 8px;
    padding: 14px 0;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.new-post-button:before {
    display: inline-flex;
    vertical-align: middle;
    font-family: 'Material Icons', sans-serif;
    content: "\e145";
    font-size: 20px;
    margin-right: 8px;
    padding-bottom: 3px;
}

.stream-container {
    margin-top: 32px;
    padding: 24px;
}

.stream-container p {
    margin: 0;
}

.stream {
    padding: 24px 0 16px;
}

.stream-img {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 56.25%; /* 16:9比率 */
    overflow: hidden;
    margin-bottom: 8px;
    cursor: pointer;
}

.stream-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stream-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(80, 80, 80, 0.5);
    z-index: 1;
}

.stream-img:after {
    position: absolute;
    font-family: 'Material Icons', sans-serif;
    color: #EF5350;
    content: "\e037";
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
}


/* show */

.back {
    color: #fff;
    font-size: 28px;
}

.delete {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.delete:before {
    vertical-align: middle;
    font-family: 'Material Icons', sans-serif;
    content: "\e872";
    color: #fff;
    margin-right: 4px;
}


/* new */

#textarea {
    position: relative;
    color: #fff;
    background-color: #272738;
    border-radius: 8px;
    width: calc(100% - 32px);
    min-height: 120px;
    padding: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font: inherit;
    outline: none;
    resize: none;
}

#text-length {
    text-align: right;
}

details {
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 12px 16px;
    margin-top: 20px;
}

.stream-setting {
    display: flex;
    gap: 48px;
    margin-top: 8px;
}

.stream-setting .stream-img {
    min-width: 240px;
}

.done {
    color: #8BC34A;
    font-size: 16px;
    margin-left: 4px;
}


/* stream */

.video-frame {
    width: 100%;
}

video {
    width: 100%;
}

.video-loader {
    text-align: center;
    padding: 40px 0;
}

.end-stream-button {
    width: 280px;
    background-color: #546E7A;
    border-radius: 8px;
    padding: 14px 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
}

.comment-wrapper {
    width: 30%;
    margin: 0 0 4px 16px;
    background-color: #272738;
    border-radius: 8px;
    overflow-y: auto;
}

.comment-title {
    font-size: 18px;
    padding: 8px;
}

#comment-field {
    position: relative;
    color: #fff;
    background-color: #272738;
    border-radius: 8px;
    width: 100%;
    padding: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font: inherit;
    outline: none;
}

#comment-button {
    width: 31%;
    margin-left: 12px;
}

#comment-list li {
    margin-right: 8px;
    margin-bottom: 8px;
}

.line {
    margin: 4px 0 24px;
    border-top: 0;
    border-bottom: 1px solid #aaa;
}