/*
 *= require_tree .
 *= require_self
 */

/* logIn, signIn */

.devise-container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 56px;
    background-color: #272738;
    border-radius: 8px;
}

.devise-container h2 {
    text-align: center;
}

.devise-container .field {
    margin-bottom: 16px;
}

.devise-container .field label {
    display: inline-block;
    padding-bottom: 4px;
    font-size: 14px;
}

.devise-container input[type="email"], .devise-container input[type="password"] {
    width: 100%;
    padding: 16px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
}

.devise-container .actions input {
    display: inline-block;
    width: 100%;
    background-color: #546E7A;
    border-radius: 8px;
    padding: 12px 0;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-align: center;
}


/* links */

.links-container {
    margin-top: 16px;
}